@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background: $light;
  min-height: 800px;

  .flex {
    display: flex;
    position: absolute;
    top: 20vh;
    gap: 3vw;
  }

  .intro {
    text-align: left;
    max-width: 500px;

    h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 18px;
    }
  }

  .icon {
    width: 200px;
    height: 200px;

    svg {
      animation: rotate 10s linear infinite;
    }
  }

  h1 {
    font-weight: bold;
    width: 100vw;
    text-align: left;
    font-size: 15vw;
    letter-spacing: 0.01em;
    position: absolute;

    bottom: 15vh;
  }

  @media (max-width: 768px) {
    .icon {
      position: absolute;
      opacity: 0.2;
      scale: 3.4;
    }

    .flex {
      display: flex;
      flex-direction: column;
      text-align: left;
      position: absolute;
      top: 0vh;
      gap: 3vw;
      align-items: center;
      justify-content: center;
      height: 100vh;
      padding: 10px 0;

      .intro {
        text-align: left;
        width: 86dvw;
      }
    }

    h1 {
      font-size: 55px;
      padding-left: 15px;
      position: relative;
      bottom: 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &.mobile {
      visibility: visible;
      min-height: 670px;
    }
    &.desktop {
      display: none;
    }
  }
}

@media (min-width: 769px) {
  .header {
    &.mobile {
      display: none;
    }
    &.desktop {
      visibility: visible;
    }
  }
}
